<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Perfil de Usuario</h3>
      <p class="text-muted m-b-30 font-13"> Nombre de Usuario </p>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form 
            #form="ngForm" 
            (ngSubmit)="guardar(form.value)" 
            ngNativeValidate
          >
            <div class="form-group">
              <label for="usuario">Nombre de Usuario</label>
              <input 
                [ngModel]="usuario.nombre" 
                name="nombre"
                type="text" 
                class="form-control" 
                placeholder="Nombre de Usuario" 
                required>
            </div>
            <div class="form-group">
              <label for="email">Correo Electronico</label>
              <input
                [ngModel]="usuario.email"
                [disabled]="usuario.google"
                name="email"
                type="email" 
                class="form-control"
                placeholder="Correo Electronico">
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografia</h4>
        <h4 class="card-subtitle">Nombre de Usuario</h4>

        <img *ngIf="!imagenTemp"  [src]="usuario.img | imagen" alt="" class="w150">
        <img *ngIf="imagenTemp" [src]="imagenTemp" alt="" class="w150">

        <input type="file" name="imagen" (change)="seleccionImagen($event.target.files[0])">

        <br><br>

        <button 
          (click)="cambiarImagen()"
          type="button" 
          class="btn btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>
          Actualizar Foto
        </button>
      </div>
    </div>
  </div>
</div>